@{
    ViewData["Title"] = "Reservations Management";
}

<h1>Reservations Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PatientName</td>
            <td>AppointmentDate</td>
            <td>AppointmentTime</td>
        </tr>
    </tbody>
</table>
